@using c5m._2d6Dungeon;
@using System.Text.Json;
@inject HttpClient Http;

<h3>Select a Character</h3>
@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <!--th> </th-->
                <th>Name</th>
                <th>XP</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in characters.value)
            {
                <tr style="cursor:pointer" @onclick="() => SelectPlayer(c.id)">
                    <!--button type="button" class="btn btn-outline-primary btn-sm" >Select</button-->
                    <td>@c.name</td>
                    <td>@c.xp.ToString()</td>
                    <td>@c.level.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-outline-primary" @onclick=CreateNewCharacter>New</button>
        </div>
    </div>
}

@code {

    private DatabaseCharacterList? characters;

    [Parameter] public Character? ParentPlayer {get; set;}

    [Parameter] public EventCallback<Character> ParentPlayerChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try{
            characters = await Http.GetFromJsonAsync<DatabaseCharacterList>("http://localhost:5000/api/character?$select=id,name,xp,level");
        }
        catch(Exception ex){
            Console.WriteLine("Oops! --> " + ex.Message);
        }
    }

    
    private void CreateNewCharacter(MouseEventArgs e)
    {
        throw new NotImplementedException();
    }
    private async Task SelectPlayer(int playerId)
    {
        try{

            var result = await Http.GetFromJsonAsync<DatabaseCharacterList>($"http://localhost:5000/api/character/id/{playerId.ToString()}");
            var dpCharacter = result.value.First<DatabaseCharacter>();
            
            ParentPlayer = DatabaseDecode(dpCharacter.serialiazedObj);


            await ParentPlayerChanged.InvokeAsync(ParentPlayer);
        }
        catch(Exception ex){
            Console.WriteLine("Oops! --> " + ex.Message);
        }
    }

    public static Character DatabaseDecode(string base64EncodedData) 
    {
        var base64EncodedBytes = System.Convert.FromBase64String(base64EncodedData);
        var jsonPlayer = System.Text.Encoding.UTF8.GetString(base64EncodedBytes);
        return JsonSerializer.Deserialize<Character>(jsonPlayer);
    }

    public class DatabaseCharacterList{
        public List<DatabaseCharacter> value { get; set; } = new List<DatabaseCharacter>();
    }
    public class DatabaseCharacter
    {
        public int id { get; set; }
        public string name { get; set; }
        public int level { get; set; }
        public int xp { get; set; }
        public string serialiazedObj{ get; set; }
    }
}
