@page "/dungeonmap"
@inject IJSRuntime JSRuntime 
<PageTitle>Map</PageTitle>

<h1>Dungeon</h1>
<canvas id="dotCanvas" style="width: 800px; height: 500px;"></canvas> 
<div class="col">
    <InputNumber id="txtWidth" DisplayName="Width" @bind-Value="width" />
    <InputNumber id="txtHeight" @bind-Value="height" />
</div>
<div class="col">
    <InputNumber id="txtPosX"  @bind-Value="posX" />
    <InputNumber id="txtPosY"  @bind-Value="posY" />
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-primary" @onclick=DrawRoom>Draw a Room</button>
    </div>
</div>


@code { 

    private int width = 200;
    private int height = 300;
    private int posX = 10;
    private int posY = 20;

    protected override async Task OnAfterRenderAsync ( bool firstRender ) 
    { 
        if (firstRender) 
        { 
            await JSRuntime.InvokeVoidAsync("onResize");
        } 
    } 

    protected async Task DrawRoom() 
    { 
        await JSRuntime.InvokeVoidAsync("DrawRoom",posX, posY, width, height);
    } 
}