@page "/adventurer/{state}"
@using c5m._2d6Dungeon;
@inject D6Service D6Service;

@rendermode InteractiveServer

<PageTitle>Adventurer</PageTitle>

@if (state == "new")
{
    <p>NEW</p>
    <AdventurerCreate @bind-ParentAdventurer="adventurer"></AdventurerCreate>
}
else
{
    <p>LOAD</p>
    @* <AdventurerCard @bind-adventurer="adventurer"></AdventurerCard> *@
}

@code{
    [Parameter]
    public string state { get; set; }
    public Game.Adventurer? adventurer;
}
