@page "/"
@using c5m._2d6Dungeon
@inject D6Service D6Service;
@inject NavigationManager Navigation;

<PageTitle>Home</PageTitle>

<FluentLabel Style="margin:16px 0px; padding: 16px 0px; width: 600px;">
    Welcome to <b>2d6 Dungeon App</b>! This is a digital adaptation of the dice & paper <a href="https://d-r-games.itch.io/2d6-dungeon-demo" target="_blank">2d6 Dungeon</a> game. You still need to buy the game to be able to play.
</FluentLabel>

<FluentLabel>@savedGamesTips</FluentLabel>

<FluentStack Orientation="Orientation.Horizontal">
    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Filled.Size20.Add())" OnClick="CreateAdventure">Create a new adventure</FluentButton> 
@if (savedGames > 0)
{ 
    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Filled.Size20.ArrowCircleUpRight())" OnClick="LoadAdventure">Load an adventure</FluentButton>
}
</FluentStack>

@code {
    private int savedGames;
    private string savedGamesTips = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        try{
            savedGames = await D6Service.GetSaveGameCount();
            if(savedGames == 0){
                savedGamesTips = "It look like you don't have any game saved. You should start by creating a new game.";
            }
            else{
                savedGamesTips = "It look like you already have some game(s) saved. What should you like to do?";
            }    
        }
        catch(Exception ex){
            Console.WriteLine("Oops! --> " + ex.Message);
            savedGames = 0;
        }
    }


    private void CreateAdventure()
    {
        Navigation.NavigateTo("theadventure/new");
    }

    private void LoadAdventure()
    {
        Navigation.NavigateTo("theadventure/list");
    }



}