@using c5m._2d6Dungeon;
@using System.Text.Json;
@inject HttpClient Http;


<h3>Adventurer Card</h3>
<EditForm Model="@adventurer">
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <InputText id="Name" class="form-control" placeholder="Adventurer Full Name" @bind-Value="adventurer.Name" />
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public Adventurer adventurer { get; set; } = new Adventurer("Toby");

    [Parameter]
    public int Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if(Id > 0)
        {
            try
            {
                adventurer = await Http.GetFromJsonAsync<Adventurer>($"http://localhost:5000/api/adventurer/{Id.ToString()}");
            }
            catch (Exception ex)
            {
                Console.WriteLine("Oops1 --> " + ex.Message);
            }
        }

    }
}
