@page "/counter"
@inject ID6Service d6Sercice;

<PageTitle>Counter</PageTitle>

<h1>Dices</h1>

<img src="dices/dice@(dice1).jpg" />
<img src="dices/purlple-dice@(dice2).jpg" />

<button class="btn btn-primary" @onclick="Roll2Dices">Roll</button>

@code {
    public int dice1 = 0;
    public int dice2 = 1;
   


    public async Task Roll2Dices()
    {
        var dices = DiceResult.Roll2Dices();
        dice1 = dices.PrimaryDice;
        dice2= dices.SecondaryDice;
    }

}
