@page "/"
@using c5m._2d6Dungeon;
@inject ID6Service D6Service;
@inject NavigationManager Navigation;

<PageTitle>Home</PageTitle>
<div class="row justify-content-md-center">
    <p>Welcome to <b>2d6 Dungeon App</b>! This is a digital adaptation of the dice & paper <a href="https://d-r-games.itch.io/2d6-dungeon-demo" target="_blank">2d6 Dungeon</a> game. You still need to buy the game to be able to play.</p>
</div>

<div class="row justify-content-md-center">

    <p>@savedGamesTips</p>
    <div class="row align-items-center">
        <button type="button" class="btn btn-outline-primary" @onclick="CreateAdventure">Create a new adventure</button> 
        @if (savedGames > 0)
        { 
        <button type="button" class="btn btn-outline-primary" @onclick="LoadAdventure">Load an adventure</button>
        }
    </div>
</div>



@code {
    private int savedGames;
    private string savedGamesTips = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        try{
            savedGames = await D6Service.GetSaveGameCount();
            if(savedGames == 0){
                savedGamesTips = "It look like you don't have any game saved. You should start by creating a new game.";
            }
            else{
                savedGamesTips = "It look like you already have some game(s) saved. What should you like to do?";
            }    
        }
        catch(Exception ex){
            Console.WriteLine("Oops! --> " + ex.Message);
            savedGames = 0;
        }
    }


    private void CreateAdventure()
    {
        Navigation.NavigateTo("theadventure/new");
    }

    private void LoadAdventure()
    {
        Navigation.NavigateTo("theadventure/list");
    }



}